/* Estilos generales */
body, html {
    margin: 0;
    padding: 0;
    height: 100%;
}

.login-container {
    display: flex;
    justify-content: flex-start; /* Cambiar a flex-start para alinear a la izquierda */
    align-items: center;
    width: 60vw; /* Cambiar a un ancho más pequeño */
    height: 80vh; /* Cambiar a una altura más pequeña */
    background-image: url('./components/fondologin.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

/* Contenedores del formulario de login y registro */
.login-form-container, .register-form-container {
    width: 40%; /* Mantener el ancho como está o ajustarlo si es necesario */
    max-width: 250px; /* Establecer un ancho máximo para hacerlo más pequeño */
    padding: 50px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.login-form-container {
    background-color: rgba(255, 255, 255, 0);
    margin-right: 10px;
}

.register-form-container {
    background-color: rgba(0, 0, 0, 0.815);
    margin-left: 335px;
    border: 2px solid #6e04d151; /* Agregar un borde de 2px de ancho y color morado */
    border-radius: 8px; 
}


/* Estilos compartidos */
h2 {
    margin-bottom: 20px;
    color: #6a00ff;
    text-align: center;
}

input {
    width: 100%;
    margin-bottom: 15px;
    padding: 10px;
    border: 1px solid #6200ff;
    border-radius: 4px;
    background-color: rgba(79, 18, 164, 0.1);
}

.login-button2, .register-button2 {
    width: 50%;
    padding: 10px;
    border: none;
    border-radius: 4px;
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

/* Estilos específicos para los botones */
.login-button2 {
    background-color: #007bff;
}

.login-button2:hover {
    background-color: #0056b3;
}

.register-button2 {
    background-color: #28a745;
}

.register-button2:hover {
    background-color: #218838;
}
