/* Estilos generales */
body, html {
    margin: 0;
    padding: 0;
    height: 100%;
}

.login-container {
    display: flex;
    justify-content: flex-start; 
    align-items: center;
    width: 60vw; 
    height: 80vh; 
    background-image: url('./components/fondologin.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.login-form-container, .register-form-container {
    width: 40%; 
    max-width: 250px; 
    padding: 50px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.login-form-container {
    background-color: rgba(255, 255, 255, 0);
    margin-right: 10px;
}

.register-form-container {
    background-color: rgba(0, 0, 0, 0.815);
    margin-left: 335px;
    border: 2px solid #6e04d151; 
    border-radius: 8px; 
}


h2 {
    margin-bottom: 20px;
    color: #6a00ff;
    text-align: center;
}

input {
    width: 100%;
    margin-bottom: 15px;
    padding: 10px;
    border: 1px solid #6200ff;
    border-radius: 4px;
    background-color: rgba(79, 18, 164, 0.1);
}

.login-button2, .register-button2 {
    width: 50%;
    padding: 10px;
    border: none;
    border-radius: 4px;
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.login-button2 {
    background-color: #007bff;
}

.login-button2:hover {
    background-color: #0056b3;
}

.register-button2 {
    background-color: #28a745;
}

.register-button2:hover {
    background-color: #218838;
}
